<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SavorCorner - Julian Essiaw</title>
    <link
      rel="icon"
      type="image"
      href="<%= require('./img/silverware.svg') %>"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="<%= require('./img/silverware.svg') %>" />
        <h4>SavorCorner</h4>
      </div>

      <nav>
        <button class="home-btn">Home</button>
        <button class="menu-btn">Menu</button>
        <button class="about-btn">About</button>
      </nav>
    </header>

    <div id="content"></div>
  </body>
</html>
